# from `pip freeze` under Python 3.8 lambda image 01-Sep-2021
boto3==1.17.100
botocore==1.20.100
Cython==0.29.24
jmespath==0.10.0
python-dateutil==2.8.2
rapid-client==0.0.0
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.6

